{% extends 'base.html' %}

{% block font_awesome %}<i class="fas fa-users"></i>{% endblock %}
{% block content %}
    <div class="container">
      <div class="row justify-content-center m-4">
        
        <div class="card col-10 bg-success text-secondary p-4">
            <h1>
                About Us
            </h1>


            <h2>The Gamesmiths</h2>
            <p class="text-secondary">
                This is a support app for the magnificent adventures co-produced by <a href="https://www.facebook.com/nat21Adventures/">Nat21 Adventures</a> and <a href="https://www.facebook.com/DiceKnightsPodcast/">Dice Knights</a>.  It is meant to be used in conjunction with the Eart Adventures at Gather.town you can access <a href="https://gather.town/app/m8aZnce3m5A101P4/The%20World%20of%20Eart">Here</a>
            </p>
            <h2>The Software Engineer</h2>
            <p>
                This site and the behind-the-scenes programming was designed by Larry Volz whose portfolio and contact information are <a href="https://www.larry-volz.com">HERE</a>
            </p>
            <h5>
                Thanks to the following people for their <br>Creative Commons/Open Source contributions
            </h5>
            <p>
                <a href="https://www.freepik.com/vectors/background" class="text-light">Background vector created by 0melapics - www.freepik.com</a>
            </p>
      </div>
    </div>

  {% endblock %}