{% extends 'base.html' %}

{% block font_awesome %}<i class="far fa-compass" style="font-size: 1.2rem;"></i>{% endblock %}
{% block content %}
    <div class="container">
      <div class="row justify-content-center m-4">
        <div class="card col-10 bg-warning text-light p-4">
            <h1>
                Campaigns
            </h1>
            <h2>The Bells of Doom</h2>
            <p>
                This is a made-up name as a placeholder for the magnificent adventures co-produced by <a href="https://www.facebook.com/nat21Adventures/">Nat21 Adventures</a> and <a href="https://www.facebook.com/DiceKnightsPodcast/">Dice Knights</a>.  It is meant to be used in conjunction with the Eart Adventures at Gather.town you can access <a href="https://gather.town/app/m8aZnce3m5A101P4/The%20World%20of%20Eart">Here</a>
            </p>
            <h2>The Dells of Boom</h2>
            <p>
                This is another campaign I made up
            </p>
            <h5>
                Attack of the Squid-Rats
            </h5>
            <p>
                Are you noticing a trend here?
            </p>
      </div>
    </div>
{% endblock %}



