{% extends 'base.html' %}

{% block font_awesome %}<i class="fab fa-pied-piper-hat" style="font-size: 1.5rem;"></i>{% endblock %}
{% block content %}
    <div class="container">
      <div class="row justify-content-center m-4">
        <div class="card col-10 bg-primary text-light p-4">
            <h1>
                Characters
            </h1>
  
            <h2>Your Character Stats:</h2>
            <p>
                <!-- {Placeholder for character info} -->
            </p>
      </div>
    </div>
{% endblock %}



