
    {% extends 'base.html' %}

    {% block font_awesome %}<i class="fas fa-coins"></i>{% endblock %}
    {% block content %}
    <div class="container">
      <div class="row justify-content-center m-4">
        <div class="card col-10 bg-danger text-light p-4">
            <h1>
                Treasure
            </h1>
            <h2>Your Treasure:</h2>
            <p>
                <!-- {Placeholder for zenni (sp?) info} -->
            </p>
      </div>
    </div>

    {% endblock %}
  